/*!
Theme Name: Zabka Flat Pages Theme
Theme URI: http://futuremind.com/
Author: Futuremind | Jakub Gawron
Author URI: http://futuremind.com/
Description: Custom theme for serving regulations pages
Version: 2.4.0
Tested up to: 5.4
Requires PHP: 5.6
Text Domain: zabka-flat-pages-theme
*/
@font-face {
    font-family: 'TTCommonsRegular';
    src: url('fonts/TTCommonsRegular.eot');
    src: url('fonts/TTCommonsRegular.eot') format('embedded-opentype'), url('fonts/TTCommonsRegular.woff2') format('woff2'), url('fonts/TTCommonsRegular.woff') format('woff'), url('fonts/TTCommonsRegular.ttf') format('truetype'), url('fonts/TTCommonsRegular.svg#TTCommonsRegular') format('svg');
}

body {
    font-family: 'TTCommonsRegular';
    padding: 10px;
    color: #484848;
    overflow-wrap: break-word;
    background-color: white;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #161616;
        color: #D7D7D7;
    }
}

a {
    color: rgb(0, 100, 32);
}

ol {
    padding-left: 20px;
}

ol li {
    margin-bottom: 5px
}

ol ol {
    margin-top: 5px
}

.paragrafList {
    counter-reset: elementcounter;
}

.paragrafList li {
    display: block;
    position: relative;
    padding-left: 20px;
    font-size: larger;
}

.paragrafList li:before {
    content: "§" counter(elementcounter) "";
    counter-increment: elementcounter;
    font-weight: bold;
    position: absolute;
    margin-right: 100%;
    left: -10px;
}

.paragrafList ol {
    counter-reset: sekcja;
}

.paragrafList li li {
    display: block;
    position: relative;
    padding-left: 20px;
    font-size: medium;
}

.paragrafList li li::before {
    counter-increment: sekcja;
    content: counters(sekcja, ".") ". ";
    position: absolute;
    margin-right: 100%;
    left: -10px;
    font-weight: normal;
}

.paragrafList li li li {
    padding-left: 30px;
}

.continousList {
    list-style-type: none;
    counter-reset: sekcja;
}

.continousList ol {
    counter-reset: sekcja;
}

.continousList li {
    display: block;
    position: relative;
    padding-left: 20px;
    font-size: larger;
}

.continousList li:before {
    counter-increment: sekcja;
    content: counters(sekcja, ".") " ";
    position: absolute;
    margin-right: 100%;
    left: 0;
    font-weight: normal;
}

.continousList li li {
    display: block;
    position: relative;
    padding-left: 30px;
    font-size: medium;
}

.continousList li li li {
    margin-left: -20px;
    padding-left: 40px;
}

.continousList {
    list-style-type: none;
    counter-reset: sekcja;
}

.continousList ol {
    counter-reset: sekcja;
}

.continousList li {
    display: block;
    position: relative;
    padding-left: 20px;
    font-size: larger;
}

.continousList li:before {
    counter-increment: sekcja;
    content: counters(sekcja, ".") " ";
    position: absolute;
    margin-right: 100%;
    left: 0;
    font-weight: normal;
}

.continousList li li {
    display: block;
    position: relative;
    padding-left: 30px;
    font-size: medium;
}

.continousList li li li {
    margin-left: -20px;
    padding-left: 40px;
}
